In [45]:
import pandas as pd 
import numpy as np

In [7]:
df_cur = pd.read_excel("witn_new_rat_ag_num_cat_catnum.xlsx")
df_cur = df_cur.loc[~df_cur["_ro_type"].str.startswith("T", na=False)]
df_cur.head(5)

,Unnamed: 0,_id,success,_name,name_comp,_ro_type,identifier,identifier_type,additional_identifier_type,isin,...,id_uuid,json_additional,meta,new_rating,agency,rating_numeric,rating_numeric_int,rating_category,rating_category_,rating_numeric_cat
0,0,1,True,Общество с ограниченной ответственностью Холди...,NaN,BNFC - нефинансовая компания,7801293231,ИНН,NaN,NaN,...,a0f6e8c8-a2e7-4740-97ac-fff125c0821a,NaN,"{'Comment': 'Success', 'added key to': 'level_...",ruBBB-,Expert RA,10,10,BBB,BBB,4
1,1,2,True,Общество с ограниченной ответственностью ПЕТЕР...,NaN,BNFC - нефинансовая компания,7801423924,ИНН,NaN,NaN,...,c317bce9-7d26-456a-be8c-6f2cda45042d,NaN,"{'Comment': 'Success', 'added key to': 'level_...",ruB+,Expert RA,14,14,B,B,6
2,2,3,True,Общество с ограниченной ответственностью ХРОМО...,NaN,BNFC - нефинансовая компания,5249111131,ИНН,NaN,NaN,...,9643b9cf-295f-4fc9-82d4-30f3b791101f,NaN,"{'Comment': 'Success', 'added key to': 'level_...",ruBB,Expert RA,12,12,BB,BB,5
3,3,5,True,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""КИНГ...",NaN,BNFC - нефинансовая компания,7816562511,ИНН,NaN,NaN,...,537699a6-7c72-46a4-b2bd-b12b7157fe3e,NaN,"{'Comment': 'Success', 'added key to': 'level_...",BBB-(RU),AKRA,10,10,BBB,BBB,4
8,8,1803,True,"АКЦИОНЕРНОЕ ОБЩЕСТВО ""РАЗРЕЗ КОЛЫВАНСКИЙ""",NaN,BNFC - нефинансовая компания,5406192366,ИНН,NaN,NaN,...,0c46e084-c183-4536-97aa-9fbab07ecd78,NaN,"{'Comment': 'Success', 'added key to': 'level_...",A(RU),AKRA,6,6,A,A,3

In [11]:
ident = df_cur["identifier"].unique()

series_length = {}
for inn in ident:
    if inn not in series_length:
        series_length[inn] = {}
    for agency in df_cur["agency"].unique():
        if agency not in series_length[inn]:
            series_length[inn][agency] = []
        temp_df = df_cur[(df_cur["identifier"] == inn) & (df_cur["agency"] == agency)]
        curr_len = len(temp_df["new_rating"])
        series_length[inn][agency] = curr_len   # there should apply the length of series of each company in cra
        
df_ser = pd.DataFrame().from_dict(series_length).T.reset_index()
df_ser.rename(columns={"index": "identifier"}, inplace=True)
df_ser[df_ser["Expert RA"] >= 10]

      identifier  Expert RA  AKRA  NCR  NRA
31    5405114781         10     0    1    0
33    8602190258         10     1    0    0
95    7702073683         10     1    0    0
110   7708678325         10     0    0    0
188   7805104870         11     0    0    1
...          ...        ...   ...  ...  ...
1248  7831000034         10     0    0    6
1253  7831000080         10     0    0    0
1257  2634028786         10     0    0    0
1263  7705522866         12     0    0    0
1278  7707067683         10     0    1    0

[75 rows x 5 columns]

In [13]:
df_last = pd.read_excel("/Users/danilalipatov/PycharmProjects/diploma/data/TO_WORK_WITH_final_last_new.xlsx")
counter_inn = []

for inn in df_last["identifier"].unique():
    if inn in ident:
        counter_inn.append(inn)
    if str(inn) in ident:
        counter_inn.append(inn)

series_length_l = {}
for inn in df_last["identifier"].unique():
    if inn not in series_length_l:
        series_length_l[inn] = {}
    for agency in df_last["agency"].unique():
        if agency not in series_length_l[inn]:
            series_length_l[inn][agency]= []
        temp_df = df_last[(df_last["identifier"] == inn) & (df_last["agency"] == agency)]
        curr_len = len(temp_df["rating"])
        series_length_l[inn][agency] = curr_len   # there should apply the length of series of each company in cra

df_ser_l = pd.DataFrame().from_dict(series_length_l).T.reset_index()
df_ser_l.rename(columns={"index": "identifier"}, inplace=True)
check = df_ser_l[df_ser_l["Expert RA"] >= 10]

In [14]:
counter = 0
unique = []
for inn in ident:
    if str((inn)) in check["identifier"].unique():
        print(inn)
        counter += 1
        unique.append(str(inn))

7423004062
7703032986
6315232133
5405114781
8602190258
7744000951
8601999494
7831000122
2901009852
5502051657
7750004312
5902162552
6325064223
7536002161
7702073683
1700000350
7802084569
7728668727
7750005820
1326021671
7706628777
3525149310
5902198365
7709031643
7750004270
7725039953
1657023630
1433009894
7704300571
8602998609
7726445147
5902220892
7701100510
7815025049
7707050464
7707684460
2130058291
2460030985
2202000656
7449006730
7701041336
1326024785
7705880068
2801023444
1653003834
7728534829
8601023568
7725038124
7713056834
1650072068
2903000446
7744000038
1644001196
7709315684
7744001024
8904002359
7723811155
5902300072
7750056688
7704627560
7729399756
7812016906
7750005482
7705568878
3328409738
1435159327
8601027509
1835047032
6453033870
6625000100
3525030681
7709056550
6608003052
3327100351
3525023780
7736035485
6905011218
5407197984
7710140679
2204000595
5253004326
6316028910
7750004009
5200000046
7727499177
7727065444
7727499184
9725000621
7703379402
7709445387
7725352740
7704082517
7704300652
6312013969
7714324003
7705380065
3666068423
8901010104
7710601270
7730058711
7710541631
7704041020
7723199790
7705619586
7704113772
7750004104
2310050140
7831001158
2466002046
3728018834
5904004343
7707288837
1653011835
7736046991
4101020152
1435138944
7729003482
7706196340
7453002182
7726000596
1435126628
7703074601
7730059592
7701020946
7421000200
7750004305
7831000066
3900001002
7734202860
7705634425
7811418017
7717151380
7733043350
7744001497
3803202031
8608049090
2463057784
5036065113
5047066172
7715630469
7706196090
7704216908
7713001271
7704001959
7724136129
7717127797
7702045051
6608001425
7729109369
7744002652
4346013603
8622002375
3906098008
7707283980
2224009042
7414006722
1901036580
7831000210
7714060199
2721052016
1435175512
7713011336
7714699186
7727480641
5250042549
7325081622
7706210370
4824047100
6450939546
5609050670
7710180174
5321059541
7838360491
2723115222
5404154492
7451032223
7703104630
7718560636
7731041830
7710026574
5200000222
1653003601
1651000010
7710045520
7725497022
7709431786
7708797192
7710280644
7706107510
7803025365
7705042179
8601009740
3803100054
7709664188
7707017509
6952000911
4401116480
7716695349
7810245481
7706561875
2465029704
7744000990
6615001384
7202021856
7838066700
7701105460
5905013608
7726470961
7730175542
6455041925
7825508140
6318109040
7704111969
7734249643
6325065114
8602103061
7706548313
3905019765
7713289204
7730581784
7705717209
7805233787
5407249872
7729588440
1650014919
3804002162
7705512995
7705784734
7704719732
3317000799
1658088006
1627000724
7710446378
7706420120
7728306068
7729503816
7728178835
6027006032
4510000735
7709787790
7727257386
7704612010
5617000264
2126003130
7733673955
1650025163
5610000466
7707040963
2225019491
2344012343
7703004072
1653018661
7805485840
7703793405
7731415839
5501246928
7704784072
7744001803
7714819895
7702263726
7743504307
7705513090
7702501628
7725520440
7716227728
7744002123
7723011286
7711023801
7705934210
7702045615
7705898516
6227001779
6449011425
7453297458
7831001408
1831002591
2801015394
4629019959
1300034972
7835905108
7718105676
7705041231
6663005798
7831000027
6612010782
7831000034
2702030634
7709129705
7831000080
2634028786
3444064812
7705522866
7717133960
5261005926
5607002142
6663059899
6671163413
7707067683
2225031594
2129007126
5046005297
5260152389
7710020212
7451036789
7705941698
7707083011
7319000865
7727039934
2209004508

In [17]:
counter

309

7423004062 <class 'str'>
7703032986 <class 'str'>
6315232133 <class 'str'>
5405114781 <class 'str'>
8602190258 <class 'str'>
7744000951 <class 'str'>
8601999494 <class 'str'>
7831000122 <class 'str'>
2901009852 <class 'str'>
5502051657 <class 'str'>
7750004312 <class 'str'>
5902162552 <class 'str'>
6325064223 <class 'str'>
7536002161 <class 'str'>
7702073683 <class 'str'>
1700000350 <class 'str'>
7802084569 <class 'str'>
7728668727 <class 'str'>
7750005820 <class 'str'>
1326021671 <class 'str'>
7706628777 <class 'str'>
3525149310 <class 'str'>
5902198365 <class 'str'>
7709031643 <class 'str'>
7750004270 <class 'str'>
7725039953 <class 'str'>
1657023630 <class 'str'>
1433009894 <class 'str'>
7704300571 <class 'str'>
8602998609 <class 'str'>
7726445147 <class 'str'>
5902220892 <class 'str'>
7701100510 <class 'str'>
7815025049 <class 'str'>
7707050464 <class 'str'>
7707684460 <class 'str'>
2130058291 <class 'str'>
2460030985 <class 'str'>
2202000656 <class 'str'>
7449006730 <class 'str'>
7701041336 <class 'str'>
1326024785 <class 'str'>
7705880068 <class 'str'>
2801023444 <class 'str'>
1653003834 <class 'str'>
7728534829 <class 'str'>
8601023568 <class 'str'>
7725038124 <class 'str'>
7713056834 <class 'str'>
1650072068 <class 'str'>
2903000446 <class 'str'>
7744000038 <class 'str'>
1644001196 <class 'str'>
7709315684 <class 'str'>
7744001024 <class 'str'>
8904002359 <class 'str'>
7723811155 <class 'str'>
5902300072 <class 'str'>
7750056688 <class 'str'>
7704627560 <class 'str'>
7729399756 <class 'str'>
7812016906 <class 'str'>
7750005482 <class 'str'>
7705568878 <class 'str'>
3328409738 <class 'str'>
1435159327 <class 'str'>
8601027509 <class 'str'>
1835047032 <class 'str'>
6453033870 <class 'str'>
6625000100 <class 'str'>
3525030681 <class 'str'>
7709056550 <class 'str'>
6608003052 <class 'str'>
3327100351 <class 'str'>
3525023780 <class 'str'>
7736035485 <class 'str'>
6905011218 <class 'str'>
5407197984 <class 'str'>
7710140679 <class 'str'>
2204000595 <class 'str'>
5253004326 <class 'str'>
6316028910 <class 'str'>
7750004009 <class 'str'>
5200000046 <class 'str'>
7727499177 <class 'str'>
7727065444 <class 'str'>
7727499184 <class 'str'>
9725000621 <class 'str'>
7703379402 <class 'str'>
7709445387 <class 'str'>
7725352740 <class 'str'>
7704082517 <class 'str'>
7704300652 <class 'str'>
6312013969 <class 'str'>
7714324003 <class 'str'>
7705380065 <class 'str'>
3666068423 <class 'str'>
8901010104 <class 'str'>
7710601270 <class 'str'>
7730058711 <class 'str'>
7710541631 <class 'str'>
7704041020 <class 'str'>
7723199790 <class 'str'>
7705619586 <class 'str'>
7704113772 <class 'str'>
7750004104 <class 'str'>
2310050140 <class 'str'>
7831001158 <class 'str'>
2466002046 <class 'str'>
3728018834 <class 'str'>
5904004343 <class 'str'>
7707288837 <class 'str'>
1653011835 <class 'str'>
7736046991 <class 'str'>
4101020152 <class 'str'>
1435138944 <class 'str'>
7729003482 <class 'str'>
7706196340 <class 'str'>
7453002182 <class 'str'>
7726000596 <class 'str'>
1435126628 <class 'str'>
7703074601 <class 'str'>
7730059592 <class 'str'>
7701020946 <class 'str'>
7421000200 <class 'str'>
7750004305 <class 'str'>
7831000066 <class 'str'>
3900001002 <class 'str'>
7734202860 <class 'str'>
7705634425 <class 'str'>
7811418017 <class 'str'>
7717151380 <class 'str'>
7733043350 <class 'str'>
7744001497 <class 'str'>
3803202031 <class 'str'>
8608049090 <class 'str'>
2463057784 <class 'str'>
5036065113 <class 'str'>
5047066172 <class 'str'>
7715630469 <class 'str'>
7706196090 <class 'str'>
7704216908 <class 'str'>
7713001271 <class 'str'>
7704001959 <class 'str'>
7724136129 <class 'str'>
7717127797 <class 'str'>
7702045051 <class 'str'>
6608001425 <class 'str'>
7729109369 <class 'str'>
7744002652 <class 'str'>
4346013603 <class 'str'>
8622002375 <class 'str'>
3906098008 <class 'str'>
7707283980 <class 'str'>
2224009042 <class 'str'>
7414006722 <class 'str'>
1901036580 <class 'str'>
7831000210 <class 'str'>
7714060199 <class 'str'>
2721052016 <class 'str'>
1435175512 <class 'str'>
7713011336 <class 'str'>
7714699186 <class 'str'>
7727480641 <class 'str'>
5250042549 <class 'str'>
7325081622 <class 'str'>
7706210370 <class 'str'>
4824047100 <class 'str'>
6450939546 <class 'str'>
5609050670 <class 'str'>
7710180174 <class 'str'>
5321059541 <class 'str'>
7838360491 <class 'str'>
2723115222 <class 'str'>
5404154492 <class 'str'>
7451032223 <class 'str'>
7703104630 <class 'str'>
7718560636 <class 'str'>
7731041830 <class 'str'>
7710026574 <class 'str'>
5200000222 <class 'str'>
1653003601 <class 'str'>
1651000010 <class 'str'>
7710045520 <class 'str'>
7725497022 <class 'str'>
7709431786 <class 'str'>
7708797192 <class 'str'>
7710280644 <class 'str'>
7706107510 <class 'str'>
7803025365 <class 'str'>
7705042179 <class 'str'>
8601009740 <class 'str'>
3803100054 <class 'str'>
7709664188 <class 'str'>
7707017509 <class 'str'>
6952000911 <class 'str'>
4401116480 <class 'str'>
7716695349 <class 'str'>
7810245481 <class 'str'>
7706561875 <class 'str'>
2465029704 <class 'str'>
7744000990 <class 'str'>
6615001384 <class 'str'>
7202021856 <class 'str'>
7838066700 <class 'str'>
7701105460 <class 'str'>
5905013608 <class 'str'>
7726470961 <class 'str'>
7730175542 <class 'str'>
6455041925 <class 'str'>
7825508140 <class 'str'>
6318109040 <class 'str'>
7704111969 <class 'str'>
7734249643 <class 'str'>
6325065114 <class 'str'>
8602103061 <class 'str'>
7706548313 <class 'str'>
3905019765 <class 'str'>
7713289204 <class 'str'>
7730581784 <class 'str'>
7705717209 <class 'str'>
7805233787 <class 'str'>
5407249872 <class 'str'>
7729588440 <class 'str'>
1650014919 <class 'str'>
3804002162 <class 'str'>
7705512995 <class 'str'>
7705784734 <class 'str'>
7704719732 <class 'str'>
3317000799 <class 'str'>
1658088006 <class 'str'>
1627000724 <class 'str'>
7710446378 <class 'str'>
7706420120 <class 'str'>
7728306068 <class 'str'>
7729503816 <class 'str'>
7728178835 <class 'str'>
6027006032 <class 'str'>
4510000735 <class 'str'>
7709787790 <class 'str'>
7727257386 <class 'str'>
7704612010 <class 'str'>
5617000264 <class 'str'>
2126003130 <class 'str'>
7733673955 <class 'str'>
1650025163 <class 'str'>
5610000466 <class 'str'>
7707040963 <class 'str'>
2225019491 <class 'str'>
2344012343 <class 'str'>
7703004072 <class 'str'>
1653018661 <class 'str'>
7805485840 <class 'str'>
7703793405 <class 'str'>
7731415839 <class 'str'>
5501246928 <class 'str'>
7704784072 <class 'str'>
7744001803 <class 'str'>
7714819895 <class 'str'>
7702263726 <class 'str'>
7743504307 <class 'str'>
7705513090 <class 'str'>
7702501628 <class 'str'>
7725520440 <class 'str'>
7716227728 <class 'str'>
7744002123 <class 'str'>
7723011286 <class 'str'>
7711023801 <class 'str'>
7705934210 <class 'str'>
7702045615 <class 'str'>
7705898516 <class 'str'>
6227001779 <class 'str'>
6449011425 <class 'str'>
7453297458 <class 'str'>
7831001408 <class 'str'>
1831002591 <class 'str'>
2801015394 <class 'str'>
4629019959 <class 'str'>
1300034972 <class 'str'>
7835905108 <class 'str'>
7718105676 <class 'str'>
7705041231 <class 'str'>
6663005798 <class 'str'>
7831000027 <class 'str'>
6612010782 <class 'str'>
7831000034 <class 'str'>
2702030634 <class 'str'>
7709129705 <class 'str'>
7831000080 <class 'str'>
2634028786 <class 'str'>
3444064812 <class 'str'>
7705522866 <class 'str'>
7717133960 <class 'str'>
5261005926 <class 'str'>
5607002142 <class 'str'>
6663059899 <class 'str'>
6671163413 <class 'str'>
7707067683 <class 'str'>
2225031594 <class 'str'>
2129007126 <class 'str'>
5046005297 <class 'str'>
5260152389 <class 'str'>
7710020212 <class 'str'>
7451036789 <class 'str'>
7705941698 <class 'str'>
7707083011 <class 'str'>
7319000865 <class 'str'>
7727039934 <class 'str'>
2209004508 <class 'str'>

In [138]:
from collections import defaultdict

expert_dict = defaultdict(list)

for inn in unique:
    temp_1 = df_cur[(df_cur["agency"] == "Expert RA") & (df_cur["identifier"] == int(inn))]
    temp_2 = df_last[(df_last["agency"] == "Expert RA") & (df_last["identifier"] == str(inn))]
    
    ratings_1 = list(temp_1["new_rating"].values)
    ratings_2 = list(temp_2["rating"].values)
    date_1 = [str(date)[:10] if isinstance(date, np.datetime64) else date for date in temp_1["_date"].values]
    date_2 = [str(date)[:10] if isinstance(date, np.datetime64) else date for date in temp_2["_date"].values]
    
    if inn == 7725039953 or inn == '7725039953':
        print(df_cur[(df_cur["identifier"] == 7725039953) & (df_cur["agency"] == "Expert RA")])
    
    type_ = list(temp_1["_ro_type"].values)[0] if len(temp_1) > 0 else ''
    _ro_type = list(temp_1["_ro_type"].values) + [type_] * len(temp_2)
    
    total_count = len(temp_1) + len(temp_2)

    expert_dict["identifier"].extend([inn] * total_count)
    expert_dict["new_rating"].extend(ratings_1 + ratings_2)
    expert_dict["_date"].extend(date_1 + date_2)
    expert_dict["_ro_type"].extend(_ro_type)
    expert_dict["agency"].extend(["Expert RA"] * total_count)
    expert_dict["scale"].extend(["Кредит. шкала"] * total_count)

# Создаем DataFrame
df_expert = pd.DataFrame(expert_dict)

Empty DataFrame
Columns: [Unnamed: 0, _id, success, _name, name_comp, _ro_type, identifier, identifier_type, additional_identifier_type, isin, rating, forecast, additional_identifier, press_release_link, press_release_text, agency_, status, additional_industry, company_link, _comment, last_action, _date, scale, ogrn, fin_instrument, begin_transaction_date, end_transaction_date, uuid_from_l_0, uuid_from_l_1, id_uuid, json_additional, meta, new_rating, agency, rating_numeric, rating_numeric_int, rating_category, rating_category_, rating_numeric_cat]
Index: []

[0 rows x 39 columns]

In [139]:
df_expert = df_expert.drop_duplicates()

In [150]:
df_expert["identifier"] = df_expert["identifier"].astype(str)
df_cur["identifier"] = df_cur["identifier"].astype(str)
df_expert["_date"] = pd.to_datetime(df_expert["_date"])
df_cur["_date"] = pd.to_datetime(df_cur["_date"])

df_final = pd.merge(df_expert, df_cur, on=["identifier", "_date", "agency", "new_rating", "scale", "_ro_type"], how="outer")

In [152]:
df_final

,identifier,new_rating,_date,_ro_type,agency,scale,Unnamed: 0,_id,success,_name,...,uuid_from_l_0,uuid_from_l_1,id_uuid,json_additional,meta,rating_numeric,rating_numeric_int,rating_category,rating_category_,rating_numeric_cat
0,1001011328,ruB-,2020-01-16,CBNK - кредитная организация,Expert RA,Кредит. рейтинг,1572.0,1561.0,True,"Акционерное общество БАНК ""ОНЕГО""",...,46231ea4-9a6f-49f1-b872-46c1965b3533,6b4e37b3-be82-4616-8c96-a305a7d2067e,92b1ac76-9d4b-4bd5-b7a3-f056ce699806,NaN,"{'Comment': 'Success', 'added key to': 'level_...",16.0,16.0,B,B,6.0
1,103001895,BB-(RU),2019-05-16,CBNK - кредитная организация,AKRA,Кредит. рейтинг,7544.0,7701.0,True,"КОММЕРЧЕСКИЙ БАНК ""ГАЗТРАНСБАНК"" (ОБЩЕСТВО С О...",...,46231ea4-9a6f-49f1-b872-46c1965b3533,75dc3f2b-578a-4608-82c2-c909230b7b74,e1cef554-9be4-4bc5-99b7-b7e9aaee5571,NaN,"{'Comment': 'Success', 'added key to': 'level_...",13.0,13.0,BB,BB,5.0
2,103001895,BB-(RU),2020-05-15,CBNK - кредитная организация,AKRA,Кредит. рейтинг,7543.0,7700.0,True,"КОММЕРЧЕСКИЙ БАНК ""ГАЗТРАНСБАНК"" (ОБЩЕСТВО С О...",...,46231ea4-9a6f-49f1-b872-46c1965b3533,75dc3f2b-578a-4608-82c2-c909230b7b74,c716f98f-c688-4cb2-8449-65e09ff7f6f7,NaN,"{'Comment': 'Success', 'added key to': 'level_...",13.0,13.0,BB,BB,5.0
3,103001895,BB-(RU),2021-05-06,CBNK - кредитная организация,AKRA,Кредит. рейтинг,7542.0,7699.0,True,"КОММЕРЧЕСКИЙ БАНК ""ГАЗТРАНСБАНК"" (ОБЩЕСТВО С О...",...,46231ea4-9a6f-49f1-b872-46c1965b3533,75dc3f2b-578a-4608-82c2-c909230b7b74,a32ab2af-1b26-410f-83a3-686e3bc97b25,NaN,"{'Comment': 'Success', 'added key to': 'level_...",13.0,13.0,BB,BB,5.0
4,103001895,BB-(RU),2022-04-26,CBNK - кредитная организация,AKRA,Кредит. рейтинг,7541.0,7698.0,True,"КОММЕРЧЕСКИЙ БАНК ""ГАЗТРАНСБАНК"" (ОБЩЕСТВО С О...",...,46231ea4-9a6f-49f1-b872-46c1965b3533,75dc3f2b-578a-4608-82c2-c909230b7b74,85d98d82-221a-4c71-afe4-5423ed492a8f,NaN,"{'Comment': 'Success', 'added key to': 'level_...",13.0,13.0,BB,BB,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13067,9731004688,A(RU),2023-01-24,BNFC - нефинансовая компания,AKRA,Кредит. рейтинг,7892.0,9009.0,True,Публичное Акционерное Общество «Группа Компани...,...,46231ea4-9a6f-49f1-b872-46c1965b3533,cede95ab-67ad-4e45-9f34-3658f05984f9,1dfa26f5-c74b-4817-96fd-ae57c4400062,NaN,"{'Comment': 'Success', 'added key to': 'level_...",6.0,6.0,A,A,3.0
13068,9731004688,A.ru,2023-10-23,BNFC - нефинансовая компания,NCR,Кредит. рейтинг,7891.0,9008.0,True,Публичное Акционерное Общество «Группа Компани...,...,46231ea4-9a6f-49f1-b872-46c1965b3533,cede95ab-67ad-4e45-9f34-3658f05984f9,b1749fb9-52da-480d-bf44-3203eeb49337,NaN,"{'Comment': 'Success', 'added key to': 'level_...",6.0,6.0,A,A,3.0
13069,9731004688,A+(RU),2024-01-12,BNFC - нефинансовая компания,AKRA,Кредит. рейтинг,7839.0,8994.0,True,"ПУБЛИЧНОЕ АКЦИОНЕРНОЕ ОБЩЕСТВО ""ГРУППА КОМПАНИ...",...,46231ea4-9a6f-49f1-b872-46c1965b3533,cede95ab-67ad-4e45-9f34-3658f05984f9,d0fa2938-f34a-442f-a693-49c619161001,NaN,"{'Comment': 'Success', 'added key to': 'level_...",5.0,5.0,A,A,3.0
13070,9731004688,A+.ru,2024-02-09,BNFC - нефинансовая компания,NCR,Кредит. рейтинг,7830.0,8992.0,True,Публичное Акционерное Общество «Группа Компани...,...,46231ea4-9a6f-49f1-b872-46c1965b3533,cede95ab-67ad-4e45-9f34-3658f05984f9,49022553-4047-421f-9a0c-605bf1962df0,NaN,"{'Comment': 'Success', 'added key to': 'level_...",5.0,5.0,A,A,3.0
13071,9731132249,ruBBB-,2024-05-07,BNFC - нефинансовая компания,Expert RA,Кредит. рейтинг,814.0,823.0,True,Акционерное общество ЗАРЯД!,...,46231ea4-9a6f-49f1-b872-46c1965b3533,33559e10-e541-408e-a8ae-6ce2c3f3f4cd,8e500661-2c5f-4c80-90fb-dc14e442e4cf,NaN,"{'Comment': 'Success', 'added key to': 'level_...",10.0,10.0,BBB,BBB,4.0